
.sendBtn {
    width: 10rem;
    border-radius: 16px;
    background-color: rgb(192, 227, 255);
    border: none;
    cursor:pointer;
    margin: 1rem;
    padding: .5rem;
    font-size: 1rem;
}

.sendBtn:hover {
    color: white;
    background-color: rgb(22, 32, 121);
    border: 1px solid white;
}