.resultBefore {
    margin: 2rem auto;
    width: 40vw;
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(19, 97, 133);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultAfter {
    margin: 2rem auto;
    width: 40vw;
    height: 100%;
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(19, 97, 133);
    max-height: 100%;
    place-items: center;
}

.btnControl {
    display: flex;
    justify-content: center;

}
.formContainer {
    margin: auto;
    background-color: white;
    border-radius: 1rem;
    max-width: 60vw;
    max-height: 100%;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    margin: 0;
    padding: 0;
}

.label, 
.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: 2rem;
}

.input {
    width: 100%;
    font-size: 1.5rem;
    margin: 1rem auto;
}

.show {
    display:block;
}

.hidden {
    display: none;
}

.fading {
    width: 100%;
    height: 20%;
    margin: auto;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .fading {
        width: 100%;
        height: 30%;
    }
}

@media screen and (min-width: 1024px) {
    .fading {
        width: 80%;
        height: 50%;
    }
}