.btn {
    padding: 1rem;
    border-radius: 1rem;
    width: 20rem;
    cursor:pointer;
    font-size: 2rem;
    background-color: whitesmoke;
    transition: background-color .1s ease-in, font-size .05s ease-in-out, font-weight .05s ease-in-out, border .2s ease-in ;
}
